@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    margin: 0;
}

.bg-color {
    background-color: #b1040e;
}

.logo-image {
    height: 200px;
    width: 200px;
}

.fixed-main-image {
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    background-image: url('https://res.cloudinary.com/dqe4ld4cx/image/upload/v1693834930/CollegeBuilding_eh7qjr.jpg');
}

.second-navbar {
    background-color: #ffffff;
    height: 30px;
    width: 100%;
}
.second-navbar-large{
    background-color: transparent;
    height: 100px;
    width: 100%;
    
}
.second-navbar-large-contents{
    text-decoration: none !important;
}
/*second-large-navbar*/
.second2-navbar-large {
    background-color: transparent;
    width: 100%;
    border: 2 solid yellow;
}

.second2-navbar-large-contents {
    border: 2 solid red;
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.shadow-layer {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    background-size: cover;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 250PX;
    text-align: center;
}

.content {
    width: 100%;
    padding: 10px;
}

.clg-title-navbar {
    font-size: 20px;
}

.clg-title {
    font-size: 80px;
    text-shadow: 5px 5px 5px #000000;
}

.clg-logo-navbar {
    background-color: red;
}

.menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 10px;
    font-weight: 500;
}

.menu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: BOLD;
    margin-top: 24px;
    text-align: center;

}

.menu-item-card {
    height: 300px;
    border-radius: 16px;
}

.placement-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.placement-content-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: whitesmoke;
    width: 100%;
    padding: 20px;
    font-weight: bold;
}

.count-increase {
    font-size: 25px;
}

.empty {
    height: 100px;
    width: 100px;
}

.empty-1 {
    height: 80px;
    width: 100px;
}

.stats {
    text-align: center;
}

.wcu-card-image {
    width: 87px;
    height: 90px;
    text-align: center;
}

.wcu-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.wcu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
}

.wcu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.testimony {
    background-color: grey;
    height: 170px;
    text-align: center;
}

.college-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    padding: 20px;
    font-weight: bold;
}

.title-small {
    display: none;
}

.masters-card {
    text-align: center;
}

.program-button {
    color: #ffffff;
    border-style: none;
    height: 30px;
    border-radius: 10px;
    width: 70px;
}

.nav-elements-large {
    display: none;
}

/*company logos css*/
/* Company Scroll Bar CSS starts here. */
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.company-logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
}

.company-logos:before,
.company-logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.company-logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.company-logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.company-logos-slide {
    display: inline-block;
    animation: 50s slide infinite linear;
}

.company-logos-slide img {
    height: 50px;
    margin: 0 50px;
}

/* Comapny SCroll Bar CSS ends here. */


@media not screen and (min-width:0px) and (max-width:991px) {
    .nav-elements-large {
        display: block !important;
    }

    .nav-elements-small {
        display: none !important;
    }
    .small-navbar-menu-navbar{
        display: none ;
    }
    #second-large-navbar{
        display: block !important;
    }
}

@media screen and (min-width:0px) and (max-width:991px) {
    .nav-elements-large {
        display: none !important;
    }

    .nav-elements-small {
        display: block !important;
    }
    .small-navbar-menu-navbar{
        display: block ;
    }
    #second-large-navbar{
        display: none !important;
    }
}

@media screen and (min-width:0px) and (max-width:575px) {
    .title-small {
        display: block;
        font-size: 50px;
    }

    .title-span {
        display: none;
    }

    .clg-title-navbar {
        font-size: 12px;
    }

    .clg-title {
        font-size: 40px !important;
    }

    .fixed-main-image {
        height: 200px;
    }

    .menu-item-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-item-image {
        height: 100px;
        width: 100px;
    }

    .placement-size {
        font-size: 12px;
    }

    .clg-title {
        font-size: 10px;
    }

}

@media screen and (min-width: 576px) and (max-width: 768px),
(min-width :768px) {
    .menu-item-image {
        height: 150px;
        width: 150px;
        text-align: center;
    }

    .menu-item-card {
        text-align: center;
    }

    .fixed-main-image {
        height: 300px;
        background-position: center;
    }
}
/*Small custom navbar*/
.small-navbar {
    padding: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #b1040e;
}

i {
    align-self: center;
}
.small-navbar-logo-image{
    height: 50px;
    width: 50px;
}
.small-navbar-nav-button {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
}
.small-navbar-center-text {
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
.small-navbar-logo-image{
    height: 50px;
    width: 50px;
}

.small-navbar-menu-items {
    padding-left: 10px;
    color: #12022f95;
    font-size: 14px;
}

.small-navbar-menu-button {
    margin: 10px;
    background-color: #ffdda9;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    color: #12022f;
    font-weight: bold;
    border-style: none;
    padding: 5px;
}

.small-navbar-menu-navbar {
    display: none;
}
.small-navbar-last-div-navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.small-navbar-items-last-div-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.small-navbar-items-last-div-anchor{
    color: #12022f;
    text-decoration: none;
}
@media (min-width:768px){
    .nav-elements-small{
        display: none;
    }
}
/*Small Navbar media query*/


/*Small custom navbar Ends*/