<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header  style="background-color: #B1040E;">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand d-flex" href="#">
                    <img src="/Templates/SVEC logo.png" alt="" width="70" height="70">
                    <div class="ml-2"><div >Sri Vasavi<div>Engineering College</div></div></div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Administration">Administration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Departments">Departments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Campus Life">Campus Life</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Placements">Placements</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <!-- <section class="hero bg-primary text-white text-center">
        <div class="container py-5">
            <h1>Sri Vasavi Engineering College</h1>
        </div>
    </section> -->
<!--  -->
    <!-- Link to Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
